accelerate
anthropic
blobfile
datasets
e2b
httpx[http2]
mcp[cli]
memray  # needed for debugging (but is lightweight), we can put it to dev mode when using pyproject.toml
numba
omegaconf
openai
openai-agents
pillow
pylatexenc
pyyaml
qwen_vl_utils # for VLM
ray[default]
ring_flash_attn
safetensors
sglang-router>=0.2.3
swanlab
tensorboard
transformers
wandb
